<h2 id="tableLabel">Medicine Inventory</h2>
<br />
<p *ngIf="!medicines"><em>Loading...</em></p>

<nav class="navbar navbar-expand-lg navbar-light blue-grey lighten-5 mb-4">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button type="button" [routerLink]="['/AddNew']" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add New</button>
      </li>
    </ul>
    <form class="form-inline">
      <i class="fa fa-search" aria-hidden="true"></i>&nbsp;
      <input class="form-control" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" placeholder="Enter name to search" type="text"
             aria-label="Search">
    </form>
  </div>
</nav>
<table class="table table-bordered" aria-labelledby="tableLabel" *ngIf="medicines">
  <thead class="thead-dark">
    <tr style="text-align:center">
      <th>FullName</th>
      <th>Brand</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>ExpiryDate</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let med of medicines | appFilter : searchText" style="text-align:center">
      <td>{{ med.fullName }}</td>
      <td>{{ med.brand }}</td>
      <td>{{ med.price }}</td>
      <td [ngStyle]="{'background-color':med.quantity < 10 ? 'yellow' : '' }">{{ med.quantity }}</td>
      <td [ngStyle]="{'background-color':med.expiryalert === true ? 'red' : '' }">{{ med.expiryDate | date }}</td>
    </tr>
  </tbody>
</table>
